## 1. Importing libraries

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np
import os

## 2. Importing data

In [2]:
path = r'/Users/ashwanisherawat/Downloads/02 Data'

In [3]:
# Import CSVs using list

#products.csv
df_prods = pd.read_csv(os.path.join(path,'Original Data','products.csv'), index_col = False)  
#orders_wrangled.csv
df_ords = pd.read_csv(os.path.join(path,'Prepared Data','orders_wrangled.csv'), index_col = False)

## 3. Data Consistency Checks

In [4]:
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## Mixed-Type Data

In [5]:
# Create a dataframe
df_test = pd.DataFrame()

In [6]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [7]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [8]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [9]:
df_test['mix'] = df_test['mix'].astype('str')

### Missing Values

In [10]:
#To see if there are any missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [11]:
# Create a subset containing only missing values - "product_name" column
df_nan = df_prods[df_prods['product_name'].isnull() ==True]

In [12]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [13]:
df_prods.shape

(49693, 5)

In [14]:
# Create a subset containing only non-missing values - "product_name" column
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [15]:
df_prods_clean.shape

(49677, 5)

### Duplicate Values

In [ ]:
# Looking for full duplicates within the df_prods_clean
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [ ]:
df_dups

In [ ]:
df_prods_clean.shape

In [ ]:
# Dropping the duplicate values by creating a new dataframe
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [ ]:
df_prods_clean_no_dups.shape

## 4. Task

In [ ]:
# Check df_ords dataframe for inconsistencies
df_ords.describe()

### Observations:

1. **`Unnamed: 0`**: This column appears to be an auto-generated index from CSV import. It doesn’t hold meaningful data and could be removed to simplify the dataframe.

2. **`order_id` and `user_id`**: The min and max values of `order_id` and `user_id` columns look consistent with expectations for a dataset of this size. There doesn’t appear to be any anomaly in these columns.

3. **`order_number`**: 
   - The `order_number` column has a maximum value of 100, which could indicate a high number of orders for some users. This is unusually high and could warrant further investigation to confirm if it’s correct or if there’s any data duplication.
   - It may be beneficial to check the distribution of order numbers per user to see if such high counts are common.

4. **`orders_day_of_week`**:
   - This column ranges from 0 to 6, suggesting it aligns with day-of-week indexing (e.g., 0 = Sunday, 6 = Saturday). This range appears consistent, and no issues are observed.

5. **`order_hour_of_day`**:
   - The values range from 0 to 23, fitting a 24-hour day format. No inconsistencies are evident here.

6. **`days_since_prior_order`**:
   - The minimum value is 0, which could represent immediate repeat orders or the first order for a user. The missing values (`NaN`s) in this column indicate some users likely don’t have prior orders. These `NaN`s are expected and likely align with users’ initial orders.

In [ ]:
# Check for mixed-type data in df_ords dataframe
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

### Observations:
No columns have mix type data

In [ ]:
# Check for missing values in your df_ords dataframe.
df_ords.isnull().sum()

### Observations:

- **`days_since_prior_order`**: This column has 206,209 missing values. All other columns are complete with no missing data.

#### Explanation for Missing Values
The missing values in `days_since_prior_order` likely represent cases where users have no previous orders. This could be due to:
1. New customers placing their first order, so there’s no previous order to calculate the number of days since.
2. Users who may have placed one-time orders with no history of prior purchases.

These missing values are expected for this column and do not necessarily indicate a data quality issue. They could either be filled with a placeholder (e.g., 0 or `NaN`) or left as is, depending on how the data will be used in further analysis.

In [ ]:
# Create a subset containing only missing values
df_ords_nan = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [ ]:
df_ords_nan

In [ ]:
df_ords.shape

In [ ]:
# Create a subset containing only missing values
df_ords_clean = df_ords[df_ords['days_since_prior_order'].isnull() == True]

In [ ]:
df_ords_clean.shape

In [ ]:
# Check the frequency of order_number=1 in df_nan
df_ords_nan['order_number'].value_counts()

In [ ]:
# Check the frequency of order_number=1 in df_ords
df_ords['order_number'].value_counts()

In [ ]:
df_ords.head()

### Observations:

#### The frequency of missing values (206,209) is the same as the frequency of order_number=1.

In [ ]:
# Check for duplicate values in df_ords dataframe
df_ords_dups = df_ords_clean[df_ords_clean.duplicated()]

In [ ]:
df_ords_dups

In [ ]:
df_ords_dups.shape

#### No duplicates found.

# 05. Exporting Dataframes

In [ ]:
#Exporting df_prods_clean_no_dups dataframe into new folder as "products_checked.csv"
df_prods_clean_no_dups.to_csv(os.path.join(path,'Prepared Data', 'products_checked.csv'))

In [ ]:
#Exporting df_ords dataframe into new folder as as "orders_checked.csv"
df_ords.to_csv(os.path.join(path,'Prepared Data', 'orders_checked.csv'))